swagger: '2.0'
info:
  description: 'Edge Delta API provides endpoints to manage your configs/integrations/rehydrations and more. Generate an API token to get started: https://app.edgedelta.com/admin/organization#api-tokens'
  title: Edge Delta Access Users API
  contact:
    name: API Support
    email: support@edgedelta.com
  version: '1.0'
host: api.edgedelta.com
basePath: ''
schemes:
- https
tags:
- name: Users
paths:
  /v1/orgs/{org_id}/invite:
    post:
      security:
      - ApiKeyAuth: []
      description: send invite email to provided user and create necessary access.
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - Users
      parameters:
      - type: string
        description: Org ID
        name: org_id
        in: path
        required: true
      - description: Invite User Request
        name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/core.InviteUserRequest'
      responses:
        '200':
          description: OK
  /v1/orgs/{org_id}/users:
    get:
      security:
      - ApiKeyAuth: []
      description: Returns users for the given org.
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - Users
      parameters:
      - type: string
        description: Org ID
        name: org_id
        in: path
        required: true
      - type: boolean
        description: If set to true response includes external state information from okta
        name: include_external
        in: query
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/core.SelfAccessWithProfile'
definitions:
  core.SelfAccessWithProfile:
    type: object
    properties:
      accesses:
        type: array
        items:
          $ref: '#/definitions/core.Access'
      approval_status:
        type: string
      company:
        type: string
      created:
        type: string
      creator:
        type: string
      email:
        type: string
      external_activated:
        type: string
      external_id:
        type: string
      external_status:
        type: string
      firstName:
        type: string
      fullName:
        type: string
      group_memberships:
        type: array
        items:
          $ref: '#/definitions/core.SelfAccessGroupMember'
      id:
        type: string
      lastLogin:
        type: string
      lastName:
        type: string
      login:
        description: DEPRECATED on 10-12-22.  Use Email instead.
        type: string
      loginProviders:
        type: array
        items:
          type: string
      mobilePhone:
        description: DEPRECATED on 10-12-22.
        type: string
      oktaGroups:
        type: array
        items:
          type: string
      owner:
        description: E.g. "user:user@email.com"
        type: string
      phoneNumber:
        description: DEPRECATED on 10-12-22.
        type: string
      resource:
        description: E.g. "org:<uuid>" or "org:*" for support acccess permission
        type: string
      secondEmail:
        description: DEPRECATED on 10-12-22.  Use Email instead.
        type: string
      supportUser:
        type: boolean
      type:
        description: E.g. "read" or "write"
        type: string
      updated:
        type: string
      updater:
        type: string
  core.Access:
    type: object
    properties:
      approval_status:
        type: string
      created:
        type: string
      creator:
        type: string
      external_activated:
        type: string
      external_id:
        type: string
      external_status:
        type: string
      id:
        type: string
      owner:
        description: E.g. "user:user@email.com"
        type: string
      resource:
        description: E.g. "org:<uuid>" or "org:*" for support acccess permission
        type: string
      type:
        description: E.g. "read" or "write"
        type: string
      updated:
        type: string
      updater:
        type: string
  core.SelfAccessGroupMember:
    type: object
    properties:
      accesses:
        type: array
        items:
          $ref: '#/definitions/core.Access'
      group_member_id:
        type: string
      id:
        type: string
      name:
        type: string
  core.InviteUserRequest:
    type: object
    properties:
      Company:
        type: string
      Email:
        type: string
      FirstName:
        type: string
      Groups:
        type: array
        items:
          type: string
      LastName:
        type: string
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    name: X-ED-API-Token
    in: header
