openapi: 3.2.0
info:
  description: 'Edge Delta API provides endpoints to manage your configs/integrations/rehydrations and more. Generate an API token to get started: https://app.edgedelta.com/admin/organization#api-tokens'
  title: Edge Delta Lookup Tables API
  contact:
    name: API Support
    email: support@edgedelta.com
  version: '1.0'
servers:
- url: https://api.edgedelta.com
tags:
- name: Lookup Tables
paths:
  /v1/orgs/{org_id}/lookup_tables:
    post:
      security:
      - ApiKeyAuth: []
      description: Creates a Lookup Table metadata and stores its data for the given org and id.
      tags:
      - Lookup Tables
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      - description: Whether or not this lookup table is being created for ED packs
        name: is_ed_lookup_table
        in: query
        schema:
          type: boolean
      - description: Time the lookup table was created. Only used by packs
        name: created
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/core.LookupTable'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                data:
                  type: string
                  description: Table data
                  format: binary
                description:
                  type: string
                  description: Description of the table
                tags:
                  type: string
                  description: Tags for the table
              required:
              - data
      summary: Create orgs by org id lookup tables
      x-summary-source: derived
      operationId: postV1OrgsByOrgIdLookupTables
      x-operation-id-source: derived
  /v1/orgs/{org_id}/lookup_tables/metadata:
    get:
      security:
      - ApiKeyAuth: []
      description: Returns metadata of all of the Lookup Tables for the given org.
      tags:
      - Lookup Tables
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/core.LookupTablesMetadataResponse'
      summary: Get orgs by org id lookup tables metadata
      x-summary-source: derived
      operationId: getV1OrgsByOrgIdLookupTablesMetadata
      x-operation-id-source: derived
  /v1/orgs/{org_id}/lookup_tables/{id}:
    get:
      security:
      - ApiKeyAuth: []
      description: Returns data for the specific Lookup Table.
      tags:
      - Lookup Tables
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      - description: Lookup Table ID
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/core.LookupTableResponse'
      summary: Get orgs by org id lookup tables by id
      x-summary-source: derived
      operationId: getV1OrgsByOrgIdLookupTablesById
      x-operation-id-source: derived
    put:
      security:
      - ApiKeyAuth: []
      description: Updates data and/or metadata of a Lookup Table for the given org and id.
      tags:
      - Lookup Tables
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      - description: Lookup Table ID
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: string
                  description: Table data
                  format: binary
              required:
              - data
      summary: Replace orgs by org id lookup tables by id
      x-summary-source: derived
      operationId: putV1OrgsByOrgIdLookupTablesById
      x-operation-id-source: derived
    delete:
      security:
      - ApiKeyAuth: []
      description: Deletes the Lookup Table for the given org and id.
      tags:
      - Lookup Tables
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      - description: Lookup Table ID
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      summary: Delete orgs by org id lookup tables by id
      x-summary-source: derived
      operationId: deleteV1OrgsByOrgIdLookupTablesById
      x-operation-id-source: derived
  /v1/orgs/{org_id}/lookup_tables/{id}/metadata:
    get:
      security:
      - ApiKeyAuth: []
      description: Returns metadata of the Lookup Tables for the given org and id.
      tags:
      - Lookup Tables
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      - description: Lookup Table ID
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/core.LookupTableMetadataResponse'
      summary: Get orgs by org id lookup tables by id metadata
      x-summary-source: derived
      operationId: getV1OrgsByOrgIdLookupTablesByIdMetadata
      x-operation-id-source: derived
components:
  schemas:
    core.LookupTableResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: integer
        metadata:
          $ref: '#/components/schemas/core.LookupTableMetadata'
    core.LookupTableMetadata:
      type: object
      properties:
        count:
          type: integer
        created_on:
          type: string
        description:
          type: string
        name:
          type: string
        size:
          type: integer
        tags:
          type: string
        updated_on:
          type: string
    core.LookupTable:
      type: object
      properties:
        count:
          type: integer
        created_on:
          type: string
        description:
          type: string
        name:
          type: string
        pk:
          description: PK is org ID
          type: string
        size:
          type: integer
        sk:
          description: SK is name of each lookup table
          type: string
        tags:
          type: string
        updated_on:
          type: string
    core.LookupTablesMetadataResponse:
      type: object
      properties:
        metadatas:
          type: array
          items:
            $ref: '#/components/schemas/core.LookupTableMetadata'
    core.LookupTableMetadataResponse:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/core.LookupTableMetadata'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-ED-API-Token
      in: header
