openapi: 3.2.0
info:
  description: 'Edge Delta API provides endpoints to manage your configs/integrations/rehydrations and more. Generate an API token to get started: https://app.edgedelta.com/admin/organization#api-tokens'
  title: Edge Delta Agent Configs API
  contact:
    name: API Support
    email: support@edgedelta.com
  version: '1.0'
servers:
- url: https://api.edgedelta.com
tags:
- name: Agent Configs
paths:
  /v1/orgs/{org_id}/confs:
    get:
      security:
      - ApiKeyAuth: []
      description: Return org's agent configurations that user has read access to
      tags:
      - Agent Configs
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      - description: Should be set to 'true' if the contents won't be fetched
        name: empty_contents
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/core.Conf'
      summary: Get orgs by org id confs
      x-summary-source: derived
      operationId: getV1OrgsByOrgIdConfs
      x-operation-id-source: derived
    post:
      security:
      - ApiKeyAuth: []
      description: Creates a new config from the yml content passed in body
      tags:
      - Agent Configs
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/core.Conf'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/core.ConfCreateRequest'
        description: Config Create Request
        required: true
      summary: Create orgs by org id confs
      x-summary-source: derived
      operationId: postV1OrgsByOrgIdConfs
      x-operation-id-source: derived
  /v1/orgs/{org_id}/confs/validate:
    post:
      security:
      - ApiKeyAuth: []
      description: Validate agent configuration
      tags:
      - Agent Configs
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/core.ConfigValidationResult'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/core.ConfValidateRequest'
        description: Config Validate Request
        required: true
      summary: Create orgs by org id confs validate
      x-summary-source: derived
      operationId: postV1OrgsByOrgIdConfsValidate
      x-operation-id-source: derived
  /v1/orgs/{org_id}/confs/{conf_id}:
    get:
      security:
      - ApiKeyAuth: []
      description: Returns the requested config
      tags:
      - Agent Configs
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      - description: Config ID
        name: conf_id
        in: path
        required: true
        schema:
          type: string
      - description: Should be set to 'true' if the content won't be fetched
        name: empty_content
        in: query
        schema:
          type: string
      - description: Should be set to 'true' if the content would be fully resolved (i.e with children etc)
        name: resolve_content
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/core.Conf'
      summary: Get orgs by org id confs by conf id
      x-summary-source: derived
      operationId: getV1OrgsByOrgIdConfsByConfId
      x-operation-id-source: derived
    put:
      security:
      - ApiKeyAuth: []
      description: Updates the config for given id
      tags:
      - Agent Configs
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      - description: Config ID
        name: conf_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/core.UpdateConfRequest'
        description: Update config request
        required: true
      summary: Replace orgs by org id confs by conf id
      x-summary-source: derived
      operationId: putV1OrgsByOrgIdConfsByConfId
      x-operation-id-source: derived
    delete:
      security:
      - ApiKeyAuth: []
      description: Deletes the config with given id
      tags:
      - Agent Configs
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      - description: Config ID
        name: conf_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      summary: Delete orgs by org id confs by conf id
      x-summary-source: derived
      operationId: deleteV1OrgsByOrgIdConfsByConfId
      x-operation-id-source: derived
components:
  schemas:
    core.ConfValidateRequest:
      type: object
      properties:
        content:
          type: string
        fleet_type:
          $ref: '#/components/schemas/core.FleetType'
        version:
          $ref: '#/components/schemas/core.ConfigVersion'
    core.Conf:
      type: object
      properties:
        cluster_name:
          type: string
        content:
          type: string
        created:
          type: string
        creator:
          type: string
        deployed_timestamp:
          description: Config-history timestamp currently deployed
          type: integer
        description:
          type: string
        environment:
          $ref: '#/components/schemas/core.EnvironmentType'
        fleet_subtype:
          $ref: '#/components/schemas/core.FleetSubtype'
        fleet_type:
          $ref: '#/components/schemas/core.FleetType'
        id:
          type: string
        metadata:
          description: Stores status (updated/updates available/deleted) of compound nodes
          allOf:
          - $ref: '#/components/schemas/core.ConfMetadata'
        orgID:
          type: string
        purpose:
          $ref: '#/components/schemas/core.ConfPurpose'
        retrieved:
          description: Latest retrieval time for installation. Will move to a separate table once obscured hostID for install host is implemented
          type: string
        rollout_task_id:
          type: string
        status:
          $ref: '#/components/schemas/core.FleetStatus'
        tag:
          type: string
        updated:
          type: string
        updater:
          type: string
        version:
          $ref: '#/components/schemas/core.ConfigVersion'
    core.ConfMetadata:
      type: object
      properties:
        compound_nodes:
          $ref: '#/components/schemas/core.ConfCompoundNodesMetadata'
        node_references:
          type: array
          items:
            type: string
        telemetry_gen_templates:
          type: array
          items:
            type: string
    core.ConfigVersion:
      type: string
      enum:
      - v2
      - v3
      x-enum-varnames:
      - ConfigV2
      - ConfigV3
    core.FleetType:
      type: string
      enum:
      - Edge
      - Cloud
      - IngestionPipeline
      - Edge-extended
      - Cloud-extended
      x-enum-varnames:
      - EdgeFleetType
      - CloudFleetType
      - IngestionPipelineFleetType
      - EdgeExtendedFleetType
      - CloudExtendedFleetType
    core.FleetSubtype:
      type: string
      enum:
      - Edge
      - Coordinator
      - Gateway
      x-enum-varnames:
      - EdgeFleetSubtype
      - CoordinatorFleetSubtype
      - GatewayFleetSubtype
    core.ConfPurpose:
      type: string
      enum:
      - user-defined
      - edgedelta-ai
      x-enum-varnames:
      - ConfPurposeUserDefined
      - ConfPurposeEdgedeltaAI
    core.EnvironmentType:
      type: string
      enum:
      - Kubernetes
      - Helm
      - Docker
      - MacOS
      - Linux
      - Windows
      x-enum-varnames:
      - KubernetesEnvironmentType
      - HelmEnvironmentType
      - DockerEnvironmentType
      - MacOSEnvironmentType
      - LinuxEnvironmentType
      - WindowsEnvironmentType
    core.UpdateConfRequest:
      type: object
      properties:
        cluster_name:
          type: string
        content:
          type: string
        content_changed:
          type: boolean
        description:
          type: string
        tag:
          type: string
    core.ConfCompoundNodesMetadata:
      type: object
      properties:
        deleted:
          description: IDs of compound nodes that have been deleted
          type: array
          items:
            type: string
        updated:
          description: IDs of compound nodes updated to latest version
          type: array
          items:
            type: string
        updates_available:
          description: IDs of compound nodes that have updates available
          type: array
          items:
            type: string
    core.ConfCreateRequest:
      type: object
      required:
      - environment
      - tag
      properties:
        cluster_name:
          description: Pipelines with same cluster name will be grouped together
          type: string
        content:
          type: string
        description:
          description: Description of the pipeline
          type: string
        environment:
          description: Environment where the pipeline will be deployed
          enum:
          - Kubernetes
          - Windows
          - MacOS
          - Linux
          - Docker
          allOf:
          - $ref: '#/components/schemas/core.EnvironmentType'
        fleet_subtype:
          description: FleetSubtype is required when Environment is Kubernetes
          enum:
          - Edge
          - Coordinator
          - Gateway
          allOf:
          - $ref: '#/components/schemas/core.FleetSubtype'
        fleet_type:
          $ref: '#/components/schemas/core.FleetType'
        tag:
          description: Tag is used to identify the pipeline
          type: string
    core.ConfigValidationResult:
      type: object
      properties:
        error: {}
        reason:
          type: string
        valid:
          type: boolean
    core.FleetStatus:
      type: string
      enum:
      - running
      - suspended
      x-enum-varnames:
      - FleetRunning
      - FleetSuspended
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-ED-API-Token
      in: header
