openapi: 3.2.0
info:
  description: 'Edge Delta API provides endpoints to manage your configs/integrations/rehydrations and more. Generate an API token to get started: https://app.edgedelta.com/admin/organization#api-tokens'
  title: Edge Delta Access API
  contact:
    name: API Support
    email: support@edgedelta.com
  version: '1.0'
servers:
- url: https://api.edgedelta.com
tags:
- name: Access
paths:
  /v1/orgs/{org_id}/access:
    get:
      security:
      - ApiKeyAuth: []
      description: Returns accesses for the given org.
      tags:
      - Access
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      - description: If set to true response includes external state information from auth0
        name: include_external
        in: query
        schema:
          type: boolean
      - description: If set to true response includes only items with pending status (to be used in Membership Requests)
        name: membership_requests
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/core.Access'
      summary: Get orgs by org id access
      x-summary-source: derived
      operationId: getV1OrgsByOrgIdAccess
      x-operation-id-source: derived
    post:
      security:
      - ApiKeyAuth: []
      description: Creates access entry.
      tags:
      - Access
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/core.Access'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/core.AccessesPayload'
        description: Accesses Payload
        required: true
      summary: Create orgs by org id access
      x-summary-source: derived
      operationId: postV1OrgsByOrgIdAccess
      x-operation-id-source: derived
  /v1/orgs/{org_id}/access/{access_id}:
    put:
      security:
      - ApiKeyAuth: []
      description: Update access for caller and given id.
      tags:
      - Access
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      - description: Access ID
        name: access_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/core.AccessCreateRequest'
        description: Access Create Request
        required: true
      summary: Replace orgs by org id access by access id
      x-summary-source: derived
      operationId: putV1OrgsByOrgIdAccessByAccessId
      x-operation-id-source: derived
    delete:
      security:
      - ApiKeyAuth: []
      description: Delete access for caller and given id.
      tags:
      - Access
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      - description: Access ID
        name: access_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      summary: Delete orgs by org id access by access id
      x-summary-source: derived
      operationId: deleteV1OrgsByOrgIdAccessByAccessId
      x-operation-id-source: derived
components:
  schemas:
    core.Access:
      type: object
      properties:
        approval_status:
          type: string
        created:
          type: string
        creator:
          type: string
        external_activated:
          type: string
        external_id:
          type: string
        external_status:
          type: string
        id:
          type: string
        owner:
          description: E.g. "user:user@email.com"
          type: string
        resource:
          description: E.g. "org:<uuid>" or "org:*" for support acccess permission
          type: string
        type:
          description: E.g. "read" or "write"
          type: string
        updated:
          type: string
        updater:
          type: string
    core.AccessCreateRequest:
      type: object
      properties:
        id:
          type: string
        owner:
          type: string
        resource:
          type: string
        type:
          type: string
    core.AccessesPayload:
      type: object
      properties:
        payload:
          type: array
          items:
            $ref: '#/components/schemas/core.AccessCreateRequest'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-ED-API-Token
      in: header
