openapi: 3.2.0
info:
  description: 'Edge Delta API provides endpoints to manage your configs/integrations/rehydrations and more. Generate an API token to get started: https://app.edgedelta.com/admin/organization#api-tokens'
  title: Edge Delta Get Dashboard API
  contact:
    name: API Support
    email: support@edgedelta.com
  version: '1.0'
servers:
- url: https://api.edgedelta.com
tags:
- name: Get Dashboard
paths:
  /v1/orgs/{org_id}/dashboards/{dashboard_id}:
    get:
      security:
      - ApiKeyAuth: []
      description: Returns the dashboard for the given ID.
      tags:
      - Get Dashboard
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      - description: Dashboard ID
        name: dashboard_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dashboard.Dashboard'
      summary: Get orgs by org id dashboards by dashboard id
      x-summary-source: derived
      operationId: getV1OrgsByOrgIdDashboardsByDashboardId
      x-operation-id-source: derived
components:
  schemas:
    dashboard.Screenshot:
      type: object
      properties:
        dark_url:
          type: string
        last_triggered_at:
          type: string
        last_updated_at:
          type: string
        light_url:
          type: string
        status:
          $ref: '#/components/schemas/dashboard.ScreenshotStatus'
    dashboard.Dashboard:
      type: object
      properties:
        created:
          type: string
        creator:
          type: string
        dashboard_id:
          type: string
        dashboard_name:
          type: string
        definition:
          type: object
          additionalProperties: {}
        description:
          type: string
        org_id:
          type: string
        resource_accesses:
          type: array
          items:
            $ref: '#/components/schemas/dashboard.ResourceAccess'
        saved_views:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/dashboard.SavedView'
        screenshot:
          $ref: '#/components/schemas/dashboard.Screenshot'
        shared_hash:
          type: string
        sharing_security_settings:
          $ref: '#/components/schemas/dashboard.SharingSecuritySettings'
        tags:
          type: array
          items:
            type: string
        updated:
          type: string
        updater:
          type: string
    dashboard.SavedView:
      type: object
      properties:
        template_variables:
          type: array
          items:
            $ref: '#/components/schemas/dashboard.TemplateVariable'
    dashboard.ScreenshotStatus:
      type: string
      enum:
      - pending
      - ok
      - error
      x-enum-varnames:
      - ScreenshotStatusPending
      - ScreenshotStatusOK
      - ScreenshotStatusError
    dashboard.TemplateVariable:
      type: object
      properties:
        identifier:
          type: string
        view_value: {}
    dashboard.SharingSecuritySettings:
      type: object
      properties:
        allowed_cidrs:
          type: array
          items:
            type: string
        prefilter:
          type: string
        shared_until:
          description: in ISO format
          type: string
    dashboard.ResourceAccess:
      type: object
      properties:
        domain:
          type: string
        facet_path:
          type: string
        query:
          type: string
        scope:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-ED-API-Token
      in: header
