openapi: 3.2.0
info:
  description: 'Edge Delta API provides endpoints to manage your configs/integrations/rehydrations and more. Generate an API token to get started: https://app.edgedelta.com/admin/organization#api-tokens'
  title: Edge Delta Groups API
  contact:
    name: API Support
    email: support@edgedelta.com
  version: '1.0'
servers:
- url: https://api.edgedelta.com
tags:
- name: Groups
paths:
  /v1/orgs/{org_id}/group:
    get:
      security:
      - ApiKeyAuth: []
      description: Return org's groups
      tags:
      - Groups
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      - description: Group ID
        name: group_id
        in: query
        schema:
          type: string
      - description: Group name
        name: name
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/core.Group'
      summary: Get orgs by org id group
      x-summary-source: derived
      operationId: getV1OrgsByOrgIdGroup
      x-operation-id-source: derived
    post:
      security:
      - ApiKeyAuth: []
      description: Creates a new group from the json content passed in body
      tags:
      - Groups
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/core.Group'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/core.GroupRequest'
        description: Group Create Request
        required: true
      summary: Create orgs by org id group
      x-summary-source: derived
      operationId: postV1OrgsByOrgIdGroup
      x-operation-id-source: derived
  /v1/orgs/{org_id}/group/{group_id}:
    put:
      security:
      - ApiKeyAuth: []
      description: Updates the group with given id
      tags:
      - Groups
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      - description: Group ID
        name: group_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/core.GroupRequest'
        description: Group Update Request
        required: true
      summary: Replace orgs by org id group by group id
      x-summary-source: derived
      operationId: putV1OrgsByOrgIdGroupByGroupId
      x-operation-id-source: derived
    delete:
      security:
      - ApiKeyAuth: []
      description: Deletes the group with given id
      tags:
      - Groups
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      - description: Group ID
        name: group_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      summary: Delete orgs by org id group by group id
      x-summary-source: derived
      operationId: deleteV1OrgsByOrgIdGroupByGroupId
      x-operation-id-source: derived
  /v1/orgs/{org_id}/group/{group_id}/accesses:
    get:
      security:
      - ApiKeyAuth: []
      description: Return group's accesses
      tags:
      - Groups
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      - description: Group ID
        name: group_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/core.Access'
      summary: Get orgs by org id group by group id accesses
      x-summary-source: derived
      operationId: getV1OrgsByOrgIdGroupByGroupIdAccesses
      x-operation-id-source: derived
components:
  schemas:
    core.GroupRequest:
      type: object
      properties:
        name:
          type: string
    core.Access:
      type: object
      properties:
        approval_status:
          type: string
        created:
          type: string
        creator:
          type: string
        external_activated:
          type: string
        external_id:
          type: string
        external_status:
          type: string
        id:
          type: string
        owner:
          description: E.g. "user:user@email.com"
          type: string
        resource:
          description: E.g. "org:<uuid>" or "org:*" for support acccess permission
          type: string
        type:
          description: E.g. "read" or "write"
          type: string
        updated:
          type: string
        updater:
          type: string
    core.Group:
      type: object
      properties:
        builtin:
          type: boolean
        created:
          type: string
        id:
          type: string
        name:
          type: string
        orgID:
          type: string
        updated:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-ED-API-Token
      in: header
