openapi: 3.2.0
info:
  description: 'Edge Delta API provides endpoints to manage your configs/integrations/rehydrations and more. Generate an API token to get started: https://app.edgedelta.com/admin/organization#api-tokens'
  title: Edge Delta Group Members API
  contact:
    name: API Support
    email: support@edgedelta.com
  version: '1.0'
servers:
- url: https://api.edgedelta.com
tags:
- name: Group Members
paths:
  /v1/orgs/{org_id}/group_member:
    get:
      security:
      - ApiKeyAuth: []
      description: Return org's group memberships
      tags:
      - Group Members
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      - description: User ID (particularly email)
        name: user_id
        in: query
        schema:
          type: string
      - description: Group ID
        name: group_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/core.GroupMember'
      summary: Get orgs by org id group member
      x-summary-source: derived
      operationId: getV1OrgsByOrgIdGroupMember
      x-operation-id-source: derived
    post:
      security:
      - ApiKeyAuth: []
      description: Creates a new user & group relationship from the json content passed in body
      tags:
      - Group Members
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/core.GroupMember'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/core.GroupMemberRequest'
        description: Group Member Create Request
        required: true
      summary: Create orgs by org id group member
      x-summary-source: derived
      operationId: postV1OrgsByOrgIdGroupMember
      x-operation-id-source: derived
  /v1/orgs/{org_id}/group_member/{group_member_id}:
    delete:
      security:
      - ApiKeyAuth: []
      description: Deletes the group member with given id
      tags:
      - Group Members
      parameters:
      - description: Org ID
        name: org_id
        in: path
        required: true
        schema:
          type: string
      - description: Group Member ID
        name: group_member_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      summary: Delete orgs by org id group member by group member id
      x-summary-source: derived
      operationId: deleteV1OrgsByOrgIdGroupMemberByGroupMemberId
      x-operation-id-source: derived
components:
  schemas:
    core.GroupMember:
      type: object
      properties:
        created:
          type: string
        groupID:
          type: string
        id:
          type: string
        orgID:
          type: string
        updated:
          type: string
        updater:
          type: string
        userID:
          type: string
    core.GroupMemberRequest:
      type: object
      properties:
        group_id:
          type: string
        user_id:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-ED-API-Token
      in: header
